

/* The hero image */
.research-section {
   margin-top: 4rem;

  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba($color-grey-dark-2, 0.8),
      rgba($color-grey-dark-3, 0.8)), url('../images/hero-1.jpg');

  /* Set a specific height */
   width:100vw;
   height:70vh;

  /* Position and center the image to scale nicely on all screens */
  background-position:center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size:3rem;
  font-weight:700;
  letter-spacing: 0.2rem;
}

.fig-image{
  max-width:100%;
}

.article-text{
  font-family:sans-serif;
  font-size:2rem;
}


.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center
}


.hover-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .3);
  opacity: 0;
  visibility: hidden;
  transition: .3s ease
}

.hover-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center
}

.edu-bg-image {
  position: absolute;
  left: 0;
  top: -300px;
  z-index: -1
}

.hover-bg-primary {
  transition: .3s ease
}

.hover-bg-primary:hover {
  background: var(--primary-color)
}

.hover-bg-primary:hover * {
  color: #fff
}

.active-bg-primary {
  transition: .3s ease;
  background: var(--primary-color)
}

.active-bg-primary * {
  color: #fff
}

.hover-shadow {
  transition: .2s ease
}

.hover-shadow:hover {
  box-shadow: 0 18px 40px 8px rgba(224, 241, 255, .54) !important
}

.hover-wrapper {
  overflow: hidden
}

.hover-wrapper img {
  transition: .3s ease;
  transform: scale(1.1)
}

.hover-wrapper:hover img {
  transform: scale(1)
}

.hover-wrapper:hover .hover-overlay {
  opacity: 1;
  visibility: visible
}