.card__news {
  // width: 22rem;
  height: 32rem;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  transition: all 0.3s;
  border-bottom: 3px solid $color-primary;
  padding-bottom: 2rem;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

 margin: 2rem;

  &-img {
    height: 12rem;
    object-fit: cover;
    opacity: 0.8;
    transition: all 0.2s;

    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }
  }

  &:not(:last-child) {
    margin-right: 1.5rem;
  }

  &-header {
    font-size: 1.2rem;
    font-weight: 700;
  }

  &-cta {
    padding: 1.25rem;
    align-self: flex-end;
  }

  &-icons {
    padding: 1rem;
    i {
      padding: 0.5rem;
      font-size: 0.8rem;
      color: $color-primary-light;
    }

    span {
      margin-right: 0.25rem;
    }
  }

  &:hover {
    transform: scale(1.05);
  }
}

.card__newsletter {
  cursor: pointer;
  position: relative;
  height: 6rem;
  padding-bottom: 2rem;
  transition: transform 0.6s ease;
  --offset-multiplier: 0.3rem;
  --translate: 0;
  transform: translate(var(--translate), var(--translate));

  a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 2rem 0;
    text-align: center;
  }

  &:hover {
    --offset-multiplier: .4rem;
    --translate: calc(1px * 4);
    transition: transform 0.3s ease;
  }
  .child {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    background-color: $color-grey-light-1;
    box-shadow: 0 4px 8px rgba($color-black, 0.1), 0px -4px 8px rgba($color-white, 0.8);
    border-radius: 0.5rem;
    transition: inherit;
    --translate: calc(var(--offset) * var(--offset-multiplier));
    transform: translate(var(--translate), var(--translate));
    z-index: 5;

    &:nth-child(1) {
      --offset: 0;
      z-index: 4;
    }
    &:nth-child(2) {
      --offset: 1;
      z-index: 3;
    }
    &:nth-child(3) {
      --offset: 2;
      z-index: 2;
    }
    &:nth-child(4) {
      --offset: 3;
      z-index: 1;
    }
    &:nth-child(5) {
      --offset: 4;
      z-index: 0;
    }
  }

  &--color1 {
    .child {
      background-color: $color-newsletter-1;
      color: $color-grey-light-1;
    }
  }

  &--color2 {
    .child {
      background-color: $color-newsletter-2;
      color: $color-grey-light-1;
    }
  }

  &--color3 {
    .child {
      background-color: $color-newsletter-3;
      color: $color-grey-light-1;
    }
  }

  &--color4 {
    .child {
      background-color: $color-newsletter-4;
      color: $color-grey-light-1;
    }
  }

  &--color5 {
    .child {
      background-color: $color-newsletter-5;
      color: $color-grey-light-1;
    }
  }

  &--color6 {
    .child {
      background-color: $color-newsletter-6;
      color: $color-grey-light-1;
    }
  }
}
