i.fa {
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
  background-color: #00BFFF;
  color:$color-white;
  margin:7px;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
}

.tag{
  font-size:1.25rem;
  font-weight:700;
  text-decoration:none;
}

.tag-link{
   font-size:1.5rem;
  font-weight:700;
  text-decoration:none;
}
  

.tag-link:hover{
 text-decoration:none;
 color:red;
}

.social-icon{
  padding: 10px;
  font-size: 15px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-facebook {
  background: #00BFFF;
  color: $color-white;
  font-size: 10px;
}

.fa-facebook:hover{
 text-decoration:none;
 color:red;
}
.fa-google{
  background: #00BFFF;
  color: $color-white;
  font-size: 10px;
}
.fa-google:hover{
 text-decoration:none;
 color:red;
}